body {
    font-weight: bold;
    margin: 0em; /* Removes the darker frame around popup when DarkReader is active */
    padding: 1em;
    font-weight: bold;
}

button {
    min-width: 1em !important;
    font-weight: bold;
    border: none;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #000099;
}

hr {
    border-top: 0.1em solid rgba(0, 0, 0, 0);
    border-bottom: 0.5em solid rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);;
}

.visible {
    border-top: 0.1em solid #787878;
    grid-column: 1 / 6;
    width: 50%;
}

.gray-font {
    color: #333333;
}

/* CSS grid definition */
.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    justify-items: center;
    align-items: center;
}

/* Place elements on the grid */
.logo-GCalTab {
    grid-column: 1 / 3;
    width: 6em;
}

.name-GCalTab {
    grid-column: 3 / 6;
}

#gcal {
    grid-column: 1 / 3;
    width: 6em;
    min-height: 3em;
}

.mode-switcher {
    grid-column: 3;
}

#switchModeLabel {
    grid-column: 4 / 5;
}

#addAccount {
    grid-column: 1 / 2;
}

#switchAccount {
    grid-column: 3 / 4;
}

#signOut {
    grid-column: 5 / 6;
}

.form-element-label {
    grid-column: 1 / 5;
    font-size: small;
    text-align: start;
    width: 100%;
}

.form-element {
    grid-column: 5;
    position: relative;
    display: inline-block;
}

/* Buttons styling */
.round-button {
    border-radius: 50%;
    min-height: 3.5em;
    width: 3.5em;
}

.primary-button {
    color: #dcdcdc;
    background-color: #000099;
}
.primary-button:hover {
    background-color: #000077;
}
.primary-button:enabled:hover {
    background-color: #000077;
}
.primary-button:focus {
    background-color: #000077;
}
.primary-button:active {
    background-color: #0000ff;
}

.disconnect-button {
    background-color: #cc6e03;
}
.disconnect-button:hover {
    background-color: #a05805;
}
.disconnect-button:enabled:hover {
    background-color: #a05805;
}
.disconnect-button:focus {
    background-color: #a05805;
}
.disconnect-button:active {
    background-color: orange;
}

/* Switch button definition */
.toggle-switcher {
    position: relative;
    width: 2em;
    height: 1em;
}

.toggle-switcher input, .spaces-toolbar-switcher input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    background-color: #787878;
    transition: 0.2s;
    border-radius: 1em;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    background-color: #000099;
    transition: 0.2s;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(1em);
}

input:checked + .slider {
    background-color: #6b6be7;
}
