<script lang="ts">
    import { onMount } from "svelte";
    import { retrieveLocalStoragePreferredIconValue } from "./functions";
    import { IconStyle, type Browser, type IconStyleType } from "./interfaces";

    // Define a synonym for browser so that Typescript does not
    // panic.
    //@ts-ignore
    let browserApi: Browser = browser;

    export let isDarkMode: boolean;

    let iconStyleLabel: string = "Icon style";
    let preferredIconStyle: IconStyleType = IconStyle.blue;
    const possibleIcons: IconStyleType[] = [IconStyle.blue, IconStyle.dark, IconStyle.light];

    const localizedPossibleIcons: Map<IconStyleType, string> = new Map()
        .set(IconStyle.blue, browserApi.i18n.getMessage("iconStyleBlue"))
        .set(IconStyle.light, browserApi.i18n.getMessage("iconStyleLight"))
        .set(IconStyle.dark, browserApi.i18n.getMessage("iconStyleDark"));

    onMount(async () => {
        // UI internationalization
        iconStyleLabel = browserApi.i18n.getMessage("iconStyle");

        /** Initialize spaces toolbar icon switcher as per local storage value */
        retrieveLocalStoragePreferredIconValue().then((storedItem) => {
            preferredIconStyle = <IconStyleType>storedItem.preferredIconGCalTab || IconStyle.blue;
        });
    });

    /** Function triggered when "Spaces toolbar icon" button is switched on/off
     * */
    function switchPreferredIcon() {
        browserApi.storage.local.set({
            preferredIconGCalTab: preferredIconStyle,
        });
    }
</script>

<template>
    <div class="row">
        <hr />
    </div>

    <div class="row">
        <label class={isDarkMode ? "form-element-label" : "form-element-label gray-font"} for="switchPreferredIcon"
            >{iconStyleLabel}
        </label>
        <select
            class="form-element"
            bind:value={preferredIconStyle}
            on:change={switchPreferredIcon}
            id="switchPreferredIcon"
        >
            {#each possibleIcons as iconStyle}
                <option value={iconStyle} selected={iconStyle === preferredIconStyle}>
                    {localizedPossibleIcons.get(iconStyle)}
                </option>
            {/each}
        </select>
    </div>
</template>
