<script lang="ts">
    import { onMount } from "svelte";
    import { retrieveLocalStorageSpacesToolbarIconValue } from "./functions";
    import type { Browser } from "./interfaces";

    // Define a synonym for browser so that Typescript does not
    // panic.
    //@ts-ignore
    let browserApi: Browser = browser;

	export let isDarkMode: boolean;

    let spacesToolbarSwitcherLabel: string = "Spaces toolbar icon";
    let isSpacesToolbarIconShown: boolean = false;

    onMount(async () => {
        // UI internationalization
        spacesToolbarSwitcherLabel = browserApi.i18n.getMessage("spacesToolbarIcon");

        /** Initialize spaces toolbar button switcher as per local storage value */
        retrieveLocalStorageSpacesToolbarIconValue().then((storedItem) => {
            if (typeof storedItem.spacesToolbarIconGCalTab === "boolean") {
                isSpacesToolbarIconShown = storedItem.spacesToolbarIconGCalTab;
            } else {
                isSpacesToolbarIconShown = false;
            }
        });
    });

    /** Function triggered when "Spaces toolbar icon" button is switched on/off
     * */
    function switchSpacesToolbarIcon() {
        browserApi.storage.local.set({
            spacesToolbarIconGCalTab: isSpacesToolbarIconShown,
        });
    }
</script>

{#if browserApi.spacesToolbar}
    <template>
        <div class="row">
            <hr />
        </div>

        <div class="row">
            <div class={isDarkMode ? "form-element-label" : "form-element-label gray-font"}>
				{spacesToolbarSwitcherLabel}
			</div>
            <label class="form-element toggle-switcher">
                <input type="checkbox" 
					bind:checked={isSpacesToolbarIconShown} 
					on:change={switchSpacesToolbarIcon} 
				/>
                <span class="slider"></span>
            </label>
        </div>
    </template>
{/if}
